<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PWA manfiest file -->
    <link rel="manifest" href="<%= geturl('vpu-library.manifest.json') %>">

    <!-- IE11 error handling -->
    <script nomodule src="<%= geturl('local/vpu-library/nomodule.js') %>"></script>

    <!-- Loading spinner -->
    <script src="<%= geturl('local/vpu-library/spinner.js') %>"></script>

    <!-- App bundles-->
    <script type="module" id="vpu-library-app-src" src="<%= geturl('vpu-library.js') %>"></script>

    <!-- Font related CSS -->
    <link rel="stylesheet" type="text/css" href="<%= geturl('local/vpu-library/library.css') %>">
</head>

<body>
<vpu-library-app lang="de"><vpu-spinner></vpu-spinner></vpu-library-app>
</body>
</html>