<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PWA manfiest file -->
    <link rel="manifest" href="<%= geturl('vpu-library.manifest.json') %>">

    <!-- IE11 error handling -->
    <script nomodule src="<%= geturl('local/vpu-library/nomodule.js') %>"></script>

    <!-- Loading spinner -->
    <script type="module" src="<%= geturl('local/vpu-library/spinner.js') %>"></script>

    <!-- App bundles-->
    <script type="module" id="vpu-app-src" src="<%= geturl('vpu-library.js') %>"></script>

    <!-- Font related CSS -->
    <style>
        body {
            font-family: 'Source Sans Pro', 'Calibri', 'Arial', 'sans-serif';
            font-weight: 300;
            margin: 0;
        }

        @font-face {
            font-family: 'Source Sans Pro';
            font-weight: 300;
            src: url('<%= geturl('local/vpu-library/fonts/SourceSansPro-Light.ttf.woff2') %>') format('woff2');
            font-display: block;
        }

        @font-face {
            font-family: 'Source Sans Pro';
            font-weight: 400;
            src: url('<%= geturl('local/vpu-library/fonts/SourceSansPro-Regular.ttf.woff2') %>') format('woff2');
            font-display: block;
        }

        @font-face {
            font-family: 'Source Sans Pro';
            font-weight: 600;
            src: url('<%= geturl('local/vpu-library/fonts/SourceSansPro-Semibold.ttf.woff2') %>') format('woff2');
            font-display: block;
        }

        @font-face {
            font-family: 'Source Sans Pro';
            font-weight: 700;
            src: url('<%= geturl('local/vpu-library/fonts/SourceSansPro-Bold.ttf.woff2') %>') format('woff2');
            font-display: block;
        }
    </style>

    <!-- Preloading/Preconnecting -->
    <link rel="preconnect" href="<%= entryPointURL %>">
    <link rel="preconnect" href="<%= keyCloakBaseURL %>">
</head>

<body>
<vpu-app lang="de" src="<%= geturl('vpu-library.topic.metadata.json') %>" entry-point-url="<%= entryPointURL %>" base-path="<%= geturl('') %>"><vpu-spinner></vpu-spinner></vpu-app>
</body>
</html>